{{>partials/header}}

<h1>Qual seu nome?</h1>
<form method="POST">
    <input type='number' name="ano" id="ano" /><br>
    <input type='submit' value='enviar'>
</form>
<hr>

{{#mostrar}}
Vc tem {{idade}} anos
{{/mostrar}}